extends layout.pug
block content
  .content(style="position: absolute; ;background: #C4C4C4;height:700px;z-index:1")
    div(style="text-align:center")
      div
        label(for="username") Username
        input#username
      div
        label(for="password") Password
        input#password
      div
        input(type="button", onclick="register()" value="войти или создать аккаунт")
block scripts
  script
    include js/login.js