extends layout.pug
include post.pug
block content
  .content(style="position: absolute; ;background: #C4C4C4;height:700px;z-index:1")
    div(style="")
      h3(style="text-align:center") News
      if news
        #posts(style="width: 40%;margin-left: 34vh;")
          +post