div(style="position: relative;height:76px;background: #DBDBDB;")
  img(alt="MSN - modern social network alpha" src="/img/Logo.svg")
  if auth.status
    div(onclick="logout()" style="margin-right: 10px;margin-top: 55px;float: right;white-space: nowrap;") Выйти
  else
    div(style="margin-right: 10px;margin-top: 55px;float: right;white-space: nowrap;")
      a(href="/login") Войти