header(class="header-container")
  img(src="/img/Logo.svg", alt="MSN - modern social network alpha", class="header-logo")
  if auth.auth
    div(class="login-container")
      a(href="", onclick="logout()", class="login-button") Выйти
  else
    div(class="login-container")
      a(href="/login", class="login-button") Войти