div(style="position: relative;")
  style
    include ./nav.css
  ul.navsMenuDesktop
    li
      if auth.auth
        a(id="linktomypage" href=`/user/${auth.user.id}`) Моя страница
    li
      a(href="/news") Лента
    li
      if auth.auth
        a(href=`/user/${auth.user.id}/friends` ) Друзья
    li
      a(href="/users") Список пользователей
