div(style="position: relative;")
  style
    include ./nav.css
  ul
    li
      a(id="linktomypage" href="/user.html") Моя страница
    li
      a(href="/") Лента
    li
      a(href="/") Друзья
    li
      a(href="/") Другое
