div(style="position: relative;")
  style
    include ./nav.css
  ul
    li
      if auth.status
        a(id="linktomypage" href=`/user/${auth.user.id}`) Моя страница
    li
      a(href="/") Лента
    li
      a(href="/") Друзья
    li
      a(href="/") Другое
