.header-container {
  position: relative;
  display: block;
  background: #DBDBDB;
}

.header-logo {
  position: relative;
  display: block;
  padding: 12px;
}

.login-container {
  position: absolute;
  display: block;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login-button {
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  font-family: 'Montserrat-Light', Verdana, sans-serif;
  font-size: 14px;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  white-space: nowrap;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #C4C4C4;
}

@media (hover: hover) and (pointer: fine) {
  .login-button:hover {
    background-color: #A3A3A3;
  }
}

.login-button:active {
  background-color: #A3A3A3;
}

.login-button:visited {
  color: #AA33AA;
}
