body {
  width: 100%;
  margin: 0;
}

.content {
  left: 15%;
  width: 80%;
}

.container {
  left: 10%;
  width: 70vw;
}

@media only screen and (max-width: 768px) {
  .content {
    left: 10%;
    width: 80%;
  }

  .container {
    left: 10%;
    width: 80vw;
  }
}
#changeAvatarButton{
  background: #80808069;
  width: 240px;
  height: 20px;
  position: absolute;
  top: 251px;z-index: 10;
  visibility: hidden;
}