body {
  width: 100%;
  margin: 0;
}

.content {
  left: 15%;
  width: 80%;
}

.container {
  left: 10%;
  width: 70vw;
}

#AvatarBox{
  width: 240px;
  height: 240px;
}

#avatarPhoto{
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .content {
    left: 10%;
    width: 80%;
  }

  .container {
    left: 10%;
    width: 80vw;
  }
}

#changeAvatarButton {
  background: #80808069;
  width: 240px;
  height: 20px;
  position: absolute;
  top: 251px;
  z-index: 10;
  visibility: hidden;
}

.footerMobile {
  display: none;
}

#posts > div{
margin-bottom: 15px;
}

#posts {
  width: 40%;
margin-left: 34vh;
}

a {
  color: unset;text-decoration: none;
}

  div#friend {
    height: 40px;
    margin-top: 5px;
  }
  #friend>a>img {
    position: absolute;
    left: 35%;
    margin-top: -10px;
    border-radius: 100%;
  }

@media screen and (orientation: portrait) {
    #friend>a>img {
    left: 15%;
  }
  #posts {
    width: 85%;
    margin-left: 4vh;
}
.navsMenuDesktop{
  display: none;
}
.footerMobile {
  display: block;
  font-size: x-large;
  position: fixed;
  background-color: wheat;
  height: 40px;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 300;
  text-align: center;
}

#aboutblock{

  width:180px;
  position: relative;
  left: unset;
  top: unset;
}
#aboutblock > div {
   width:290px;
}
  .container {
    width: 100vw;
    left: 0;
  }

  .content {
    position: absolute;
    margin: 0 auto;
  }

  #username {
    display: block;
    padding: 0;
    text-align: center;
  }

  #avatarPhoto {
    width: 40vw;
    height: 40vw;
    margin: -20px auto 25px auto;
    display: block;
  }

  #friendRequestAndSendMessage {
    width: 150px;
    margin: 0 auto;
  }

  .friends {
    width: 75vw;
    margin: 20px auto 20px auto;
  }
  #AvatarBox {
    width: auto;
    height: auto;
  }
  #changeAvatarButton{
    position: relative;
    top: 41vw;
    width: 150px;
    margin: 0 auto;
  }
}
