// _layout.scss

// Layout
$layout_width: 1920px;
$layout_height: 937px;

// Breakpoints
$layout--desktop_max-width: 1920px;
$layout--tablet_max-width: 1366px;
$layout--tablet-portrait_max-width: 1024px;
$layout--mobile_max-width: 823px;
$layout--mobile-portrait_max-width: 665px;
